/* Basic styles */

    /* Root */
    html, body {

        /* Fit to viewport */
        height: 100%;

    }

    /* Body */
    body {

        /* Set font family to a sans-serif */
        font-family: sans-serif, serif;

        /* Set a black background by default */
        background: black;

        /* With a white text color, obviously */
        color: white;

        /* No margin */
        margin: 0;

        /* Prevent margin collapsing */
        padding: 0.1px;

        /* Flexbox for browsers which support it */
        display: flex;
        flex-direction: column;

    }

    a {

        /* No weird blue */
        color: inherit;

        /* Remove underline */
        text-decoration: none;

    }

    input {

        /* Transparent grey background */
        background: #4446;

        /* Barely opaque white border */
        border: 1px solid #fff2;

        /* White text color */
        color: white;

        /* Inherit font size */
        font-size: inherit;

        /* Small padding */
        padding: 5px;

    }

    hr {
        /* Remove default style */
        border: none;

        /* Make a white line */
        border-bottom: 1px solid white;

        /* Normalize height */
        height: 0;
        box-sizing: content-box;

        /* Width */
        width: 120px;
        max-width: 100%;
    }

/* Navbar */

    /* Main */
    nav {

        /* Space around */
        padding: 20px;

        /* Slightly opaque dark background */
        background: #4446;

        /* Allow children to be placed relatively to navbar */
        position: relative;

        /* Add some space for the character data if there is no title */
        min-height: 30px;

    }

    /* Title */
    nav h1 {

        /* No bold */
        font-weight: normal;

        /* Put in the middle */
        text-align: center;

        /* Margin on the sides for small displays */
        margin: 0 10px;
    }

    /* Character */
    #character {

        /* Let children be sized based on the others */
        display: table;

        /* Place it on the left */
        position: absolute;
        left: 0;

        /* In the middle */
        top: 50%;
        transform: translateY(-50%);

        /* Padding */
        padding: 5px 10px;

        /* 150px width, never more than 100% */
        transition: width 2.5s;
        min-width: 150px;
        max-width: 100%;
    }

    /* Small displays */
    @media (max-width: 600px) {

        /* Display character data on a separate line */
        #character {

            position: static;
            transform: none;

        }

    }

    /* Each row in the character info */
    #character > span {

        /* Display each item as a table row */
        display: table-row;

    }

    /* Each item in character info */
    #character > span > span {

        /* Display as a cell */
        display: table-cell;

        /* Some space */
        padding-top: 2px;

    }

    /* Character name */
    #character .name {

        /* Display slightly bigger */
        font-size: 1.2em;
    }

    /* Character level and XP caption */
    #character .level, #character .xp-counter {

        /* Smaller font */
        font-size: 0.7em;

        /* Display in caps */
        font-variant: all-small-caps

    }

    #character .level {

        float: left;
        margin-right: 5px;

    }

    #character .xp-counter {

        float: right;
        margin-left: 5px;

    }

/* Content */

    /* Main content box */
    #content {

        /* Limit width for wide devices */
        max-width: 800px;

        /* And put self in the center too */
        margin: 15px auto;

        /* [Flex] Fill parent */
        flex-grow: 1;

        /* [Flex] Put content in center */
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    /* All items directly in the content */
    #content > * {

        /* Shrink to content */
        display: table;

        /* Center */
        margin: 10px auto;

    }

    /* Text */
    #text {

        /* Slightly increased text size */
        font-size: 1.2em;

    }

    /* Error */
    #error {


        padding: 1em 2em;

        /* Half-transparent black background */
        background: #0004;

        /* A little red line at the bottom */
        border-bottom: 4px solid #f34;

    }

/* Inputs */

    #inputs {

        width: 100%;
        max-width: 500px;

    }

    #inputs label {

        margin: 1em 0;

    }

    #inputs label, #inputs input {

        display: block;
        width: 100%;
        box-sizing: border-box;

    }

/* Actions */

    /* Each section */
    #actions > div {

        /* Resize to children */
        display: table;

        /* Add a margin above and below, center within the parent */
        margin: 1em auto;

        /* Align children to center */
        text-align: center;

    }

    /* Rows */
    #actions .row {

        /* View each row as a cell */
        display: table-cell;

    }

    /* Each action */
    #actions span, #actions a {

        /* Display as a block */
        display: block;

        /* Add a small margin */
        margin: 5px;
    }

    /* .inline actions */
    #actions .inline {

        /* Display inline */
        display: inline-block;

    }

/* Misc. */

    /* Progress bars */
    .progress-bar {

        /* Relative positioning */
        position: relative;

        /* A grey border at the bottom */
        border-bottom: 4px solid #fff1;

        /* Fill width, no padding on the sides */
        width: 100%;
        padding-left: 0;
        padding-right: 0;

    }

    /* Filled progress bar part */
    .progress-bar > .progress-fill {

        display: inline-block;

        /* Place right over the border */
        position: absolute;
        bottom: -4px;
        left: 0;

        /* 4 px height */
        height: 4px;

        /* Limit width to parent */
        max-width: 100%;

        /* Orange content */
        background: orange;

        /* Animate width */
        transition: width 0.5s;

    }
